<?xml version="1.0" encoding="utf-8"?>
<config>
	<rutas>
		<rest><![CDATA[http://localhost:8084/csvPuntsWifi/api/ws]]></rest>
		<districte><![CDATA[http://localhost:8084/csvDistrictes/api/ws]]></districte>
		<barri><![CDATA[http://localhost:8084/csvBarris/api/ws]]></barri>
		<maps><![CDATA[https://maps.googleapis.com/maps/api/js?key=<PON TU CODIGO>&signed_in=true&callback=initMap]]></maps>
	</rutas>
</config>
